html, body{
	font-family: helvetica, sans-serif;

}
.menu {
	border: #000 1px solid;
	font-size: 10pt;
	width: 15%;
	background-color:yellow;
	cursor: crosshair;


	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;

}

.menu h2 {
	font-size: 10pt;
}

.menu h1 {
	font-size: 12pt;
	padding-left: 10px;
}

.sousmenu{
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 10px;
	background-color: #FFF;
}
